<div class="columns is-gapless is-600px-height">
    <div class="column is-one-quarter">
        <!-- <h1 >Estimate Fare</h1> -->
        <!-- <div class="field">
            <p class="control has-icons-left">
                <input class="input" [(ngModel)]="message" type="text" placeholder="Message">
                <span class="icon is-small is-left">
                    <i class="fa fa-map-marker"></i>
                </span>
            </p>
        </div> -->
    
        <!-- <div *ngFor="let marker of markers | async">
            <button (click)="flyTo(marker)">{{ marker.properties.message }}</button>
            <button (click)="removeMarker(marker)">Delete</button>
        </div> -->
    
        <nav class="panel">
            <p class="panel-heading">
                estimate fare
            </p>
            <div class="panel-block">
                <div class="form">
                    <div class="field has-addons">
                        <div class="control has-icons-left">
                            <input type="text" 
                                class="input"
                                #pickupBox 
                                [value]="pickupLocation"
                                (keyup)="search(pickupBox.value)" 
                                placeholder="PICKUP LOCATION">

                            <span class="icon is-left">
                                <i class="fa fa-map-pin"></i>
                            </span>
                        </div>
                        <div class="control">
                            <span class="button" (click)="resetFields()" >
                                X
                            </span>
                        </div>
                    </div>

                    <div class="control has-icons-left" *ngIf="pickupAddress">
                        <input type="text"
                            #destinationBox 
                            class="input" 
                            [value]="destinationLocation" 
                            (keyup)="search(destinationBox.value)" 
                            placeholder="DESTINATION"
                        >
                        <span class="icon is-left">
                            <i class="fa fa-flag-checkered"></i>
                        </span>
                    </div>

                    <div class="panel-block is-active" *ngFor="let address of searchResults | async" (click)="setAddress(address)">
                        <span class="panel-icon">
                            <i class="fa fa-map-marker"></i>
                        </span>
                        {{ address.formattedAddress }}
                    </div>
                    
                    <hr>
                    <table class="table is-fullwidth" *ngIf="pickupAddress && destinationAddress">
                        <tr class="" *ngFor=" let price of prices | async">
                            <td>{{price.localized_display_name}}</td>
                            <td>{{ price.estimate }} </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="panel-block" *ngIf="pickupAddress && destinationAddress">
                <button class="button is-primary is-large  is-fullwidth " 
                    (click)="showModal()" >
                    <span>REQUEST RIDE</span>
                    <span class="icon">
                        <i class="fa fa-chevron-right"></i>
                    </span>
                </button>
            </div>
        </nav>
    </div>

    <!-- Spacha-Map -->
    <div class="map column" id="spacha-map"></div>  

    <div class="modal" id="appStoreModal" >
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Download Spøta to book a ride</p>
                <button class="delete" aria-label="close" (click)="showModal()"></button>
            </header>
            <section class="modal-card-body">
                <!-- Modal Content ... -->
                <table class="table is-fullwidth">
                    <tbody>
                        <tr>
                            <td><a href='#'><img alt='Get it on Google Play' src='/assets/images/en_badge_web_generic.png'/></a></td>
                            <td><a href='#'><img alt='Get it on the AppStore' src='/assets/images/apple-appstore-badge.png'/></a></td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </div>
    </div>
</div>
